<p>Beste klant,</p>
<p>We danken u heel erg voor uw reservatie.</p>
<p>Het beloofd een leuke, onvergetelijke dag te worden!</p>
<p>Voor we u ontvangen zetten we graag nog enkele belangrijke puntjes op een rij.</p>

<ul>
    <li>
        We verwachten u STIPT EN VOLTALLIG aanwezig een KWARTIER voor vertrek.<br/>
        Wanneer u later aankomt kunnen we uw vaartijd niet verlengen,
        Na u wacht er immers een andere groep.
    </li>
    <li>
        <p>Aanmelden gebeurt in het restaurant.<br/>
            Er wordt op voorhand afgerekend + + er wordt een waarborg van 100 euro cash gevraagd.</p>
        <p>
            Bij schade; wordt de 100 euro direct ingehouden.<br/>
            We verwachten  de boot proper en ordentelijk terug.<br/>
            Zo niet vorderen we 50 euro van uw waarborg.
        </p>
    </li>
    <li>Roken is verboden op de boot.</li>
    <li>
        Zwemmen vanaf de boot wordt NIET toegestaan.<br/>
        Bij ongevallen bent u dan ook niet verzekerd.
    </li>
    <li>Huisdieren worden in GEEN geval toegestaan.</li>
    <li>Bij slecht weer kan de boot ENKEL geannuleerd worden DE DAG zelf,<br/>ALLEEN telefonisch, wanneer het effectief slecht weer is.</li>
    <li>Annulaties zonder geldige reden staan we niet toe en worden gefactureerd op uw adres.</li>
    <li>Vaarroutes en stopplaatsen vindt u terug op onze website.</li>
</ul>

<p>Voor extra vragen of bedenkingen kunt u terrecht bij onze bootverantwoordelijke.</p>

<p>
    Carlos D’hont<br/>0468/023655
</p>

{% include '@ComsaBooking/mail/summary.html.twig' %}
